
ExceptionHandeling/.vs/ExceptionHandeling/FileContentIndex/1290dc2c-c691-4aaa-84db-c704dd80b0d0.vsidx
*.vsidx
ExceptionHandeling/.vs/ExceptionHandeling/v17/.suo
RouteCountTask/.vs/ProjectEvaluation/routecounttask.projects.v7.bin
RouteCountTask/.vs/RouteCountTask/v17/.futdcache.v2

/.vs/LisaTrainingTasks/v17
